## Damares Staging to Datawarehouse [Orders]
Created By : Rishad Harisdias Bustomi

Version : 1.0

Last Modified : 2023-03-29

This purpose of this etl job is to fetch data from staging and append to datawarehouse

In [1]:
# Import Needed Library

from google.cloud import bigquery
import pandas as pd
import ftplib
import os
import datetime

In [2]:
# Connect to Big Query Client
key_path = r'C:\Users\20220637\Documents\Me\Binar\BigQuery\Credential\bie-testing-22f0e30d8f95.json'
client = bigquery.Client.from_service_account_json(key_path)

date = '2022-03-28'

In [3]:
query_job = client.query(
    """
    SELECT * FROM `bie-testing.superstore_stg.orders`
    """
)

results = query_job.result()  # Waits for job to complete.

df = query_job.to_dataframe()

In [5]:
df.insert(loc=0, column='dt_date', value=date)

In [7]:
df["created_time"] = datetime.datetime.now()
df["modified_time"] = datetime.datetime.now()

In [9]:
df = df.drop_duplicates()

In [10]:
df

,dt_date,row_id,order_id,order_date,ship_date,ship_mode,customer_id,country,city,state,postal_code,region,product_id,sales,quantity,discount,profit,created_time,modified_time
0,2022-03-28,6231,CA-2017-127656,2017-07-11,2017-07-17,Standard Class,NW-18400,United States,Waterloo,Iowa,50701,Central,OFF-AR-10001166,30.32,4,0.0,11.8248,2023-03-29 23:12:11.226605,2023-03-29 23:12:11.228600
1,2022-03-28,4190,CA-2016-157714,2016-09-26,2016-10-01,Second Class,CS-12175,United States,Iowa City,Iowa,52240,Central,OFF-PA-10004022,9.99,1,0.0,4.4955,2023-03-29 23:12:11.226605,2023-03-29 23:12:11.228600
2,2022-03-28,3426,CA-2015-153381,2015-09-24,2015-09-28,Standard Class,DE-13255,United States,Dubuque,Iowa,52001,Central,OFF-BI-10001525,15.24,4,0.0,6.8580,2023-03-29 23:12:11.226605,2023-03-29 23:12:11.228600
3,2022-03-28,3427,CA-2015-153381,2015-09-24,2015-09-28,Standard Class,DE-13255,United States,Dubuque,Iowa,52001,Central,FUR-CH-10000988,1408.10,10,0.0,394.2680,2023-03-29 23:12:11.226605,2023-03-29 23:12:11.228600
4,2022-03-28,8001,US-2015-151407,2015-11-08,2015-11-12,Standard Class,RD-19585,United States,Dubuque,Iowa,52001,Central,TEC-PH-10003885,263.96,4,0.0,76.5484,2023-03-29 23:12:11.226605,2023-03-29 23:12:11.228600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,2022-03-28,1641,CA-2016-157266,2016-05-26,2016-06-01,Standard Class,TB-21280,United States,Washington,District of Columbia,20016,East,OFF-PA-10004675,12.70,2,0.0,5.8420,2023-03-29 23:12:11.226605,2023-03-29 23:12:11.228600
9990,2022-03-28,1642,CA-2016-157266,2016-05-26,2016-06-01,Standard Class,TB-21280,United States,Washington,District of Columbia,20016,East,FUR-FU-10000629,41.37,3,0.0,17.3754,2023-03-29 23:12:11.226605,2023-03-29 23:12:11.228600
9991,2022-03-28,1846,US-2017-158512,2017-01-12,2017-01-17,Second Class,DA-13450,United States,Washington,District of Columbia,20016,East,OFF-PA-10001804,40.08,6,0.0,19.2384,2023-03-29 23:12:11.226605,2023-03-29 23:12:11.228600
9992,2022-03-28,1847,US-2017-158512,2017-01-12,2017-01-17,Second Class,DA-13450,United States,Washington,District of Columbia,20016,East,FUR-FU-10004973,37.68,2,0.0,15.8256,2023-03-29 23:12:11.226605,2023-03-29 23:12:11.228600
9993,2022-03-28,4597,CA-2016-140564,2016-12-05,2016-12-10,Second Class,TC-21475,United States,Washington,District of Columbia,20016,East,OFF-AR-10000034,33.92,8,0.0,13.2288,2023-03-29 23:12:11.226605,2023-03-29 23:12:11.228600